/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */
*{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.btn-primary{
  background-color: #FF900E;
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: semibold;
  border-radius: 8px;
  border: 0;
  padding: 20px 25px;
  cursor: pointer;
}
.text-light-gray{
  color:#727272;
 }
 .section-title{
  font-size: 2.8rem;
  font-weight: bold;
  color: #131313;
}
/* header styles */

header{
  background-color: #FFF4E7;
  padding: 30px 240px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav >ul{
  display: flex;
}
nav li{
  list-style: none;
  margin-right: 20px;
  font-size: 18px;
  font-weight: medium;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
/* banner styles */
.banner{

}
.banner-content{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title{
font-size: 4rem;
font-weight: bold;
color: #131313;
}

.banner img{
  margin-top: 20px;
  width: 100%;
}

  /* main styles */
  main{
    max-width: 1440px;
    margin: 70px auto;
  }
  /* teams styles */
  .teams-container{
    display: flex;
    align-items: center;
  }
  .teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .teams-content{
    padding-left: 70px;
    padding-right: 70px;
  }
  .teams-title{
    font-size: 2.8rem;
  }
  .teams-title .Quick-list{
    font-weight: medium;
  }
  .teams-title .text-features{
    color: #FF900E;
    font-weight: bold;
  }
  /* responsive related styles */
/* mobile device */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav, .teams-container{
    flex-direction: column;
  }
  .teams-img-container{
    grid-template-columns: 1fr;
  }
  .teams-content{
    padding-left: 20px;
    padding-right: 20px;
   }
}
/* tablet or medium device */
@media screen and (min-width: 576px) and (max-width: 960px){
  header{
padding: 50px;
  }
nav, .teams-container{
  flex-direction: column;
}

  }